body {
  width: 100%;
  background-image: linear-gradient(#09d1d4, #050a5c);
}
.Hook {
  text-align: center;
  border-radius: 10px;
  background-color: #45A29E;
  color: #00272f;
  border: 2px solid black;
  width: 50%;
  padding: 2%;
  font-size: 192%;
  align-items: center;
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 8%;
}
.hot-items {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin-top: 3%;
  margin-bottom: 6%;
}
.hot-items img {
  border-radius: 15px;
}
.auction-one {
  width: 29%;
}
.auction-two {
  width: 30%;
}
.auction-three {
  width: 20%;
}
.heading {
  font-size: 460%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  font-family: 'Dancing Script', cursive;
}
@media (max-width: 500px) {
  .heading {
    font-size: 460%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Dancing Script', cursive;
  }
}
@media (max-width: 500px) {
  nav {
    margin-bottom: 2%;
  }
}
nav button {
  background-color: #00272f;
  color: #f5b136;
  border-radius: 15px;
  border: 2px solid black;
  width: 100px;
  padding: 1.5%;
  font-size: 131%;
  font-family: 'Dancing Script', cursive;
}
@media (max-width: 500px) {
  nav button {
    border-radius: 15px;
    background-color: #089cb4;
    color: #f5b136;
    border: 2px solid black;
    width: 100px;
    padding: 1.5%;
    font-size: 122%;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 1%;
  }
}
a {
  text-decoration: none;
  color: black;
  font-size: 160%;
  padding: 0% 2%;
  font-family: 'Nanum Pen Script', cursive;
  color: white;
}
@media (max-width: 500px) {
  a {
    color: white;
  }
}
.test {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 160%;
  margin-bottom: 3%;
}
.pitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}
.pitch button {
  background-color: #00272f;
  color: #f5b136;
  border-radius: 15px;
  border: 2px solid black;
  width: 80px;
  padding: 3%;
  font-size: 131%;
  font-family: 'Dancing Script', cursive;
  margin-top: 1%;
}
@media (max-width: 500px) {
  .pitch button {
    background-color: #00272f;
    color: #f5b136;
    border-radius: 15px;
    border: 2px solid black;
    width: 80px;
    padding: 3%;
    font-size: 131%;
    font-family: 'Dancing Script', cursive;
    margin-top: 1%;
  }
}
.pitch-paragraph {
  font-size: 150%;
  font-family: 'Trade Winds', cursive;
  text-align: center;
}
.buttonMix {
  background-color: #00272f;
  color: #f5b136;
  border-radius: 15px;
  border: 2px solid black;
  width: 100px;
  padding: 1.5%;
  font-size: 131%;
  font-family: 'Dancing Script', cursive;
}
.media-button {
  border-radius: 15px;
  background-color: #089cb4;
  color: #f5b136;
  border: 2px solid black;
  width: 100px;
  padding: 1.5%;
  font-size: 122%;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1%;
}
.title {
  font-size: 460%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  font-family: 'Dancing Script', cursive;
}
.links {
  text-decoration: none;
  color: black;
  font-size: 160%;
  padding: 0% 2%;
  font-family: 'Nanum Pen Script', cursive;
}
/*end of nav mixins*/
.HookMix {
  text-align: center;
  border-radius: 10px;
  background-color: #45A29E;
  color: #00272f;
  border: 2px solid black;
  width: 50%;
  padding: 2%;
  font-size: 192%;
  align-items: center;
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 8%;
}
.hotMix {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin-top: 3%;
  margin-bottom: 6%;
}
.PitchMix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}
.mediaButtonTwo {
  background-color: #00272f;
  color: #f5b136;
  border-radius: 15px;
  border: 2px solid black;
  width: 80px;
  padding: 3%;
  font-size: 131%;
  font-family: 'Dancing Script', cursive;
  margin-top: 1%;
}
.buttonTwoMix {
  background-color: #00272f;
  color: #f5b136;
  border-radius: 15px;
  border: 2px solid black;
  width: 80px;
  padding: 3%;
  font-size: 131%;
  font-family: 'Dancing Script', cursive;
  margin-top: 1%;
}
.phoneButtonMix {
  border-radius: 15px;
  background-color: #089cb4;
  color: #f5b136;
  border: 2px solid black;
  width: 19%;
  padding: 0.5%;
  font-size: 122%;
  font-family: 'Dancing Script', cursive;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
.about {
  font-size: 152%;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 4%;
  text-align: center;
  margin: 0 3%;
}
.about h2 {
  font-family: 'Bree Serif', serif;
  font-size: 150%;
  margin-bottom: 3%;
  border-bottom: 2px solid black;
  max-width: 28%;
  margin-left: 36%;
}
.silent {
  font-size: 154%;
  margin-top: 3%;
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  margin: 0 3%;
}
.silent h2 {
  font-family: 'Bree Serif', serif;
  font-size: 148%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-bottom: 2px solid black;
  max-width: 32%;
  margin-left: 34%;
}
.big-container {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.big-container .dev {
  align-items: center;
  width: 38%;
  margin: 0 auto;
  text-align: center;
}
.big-container .dev img {
  border-radius: 50px;
}
.big-container .dev p {
  margin: 2% 0;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 150%;
}
.big-container .dev h3 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 200%;
}
.big-container .dev h4 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 150%;
}
.about-footer {
  font-size: 115%;
  margin-top: 3%;
  text-align: center;
}
.dev-head {
  font-size: 420%;
  margin: 3% 0;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}
