.pitch{
    .PitchMix();
  }
  .pitch button{
    @media @Phone{
      .mediaButtonTwo();
    }
    .buttonTwoMix();
  }
  .pitch-paragraph{
    font-size: 150%;
    font-family:'Trade Winds', cursive;
    text-align: center;
  }