.about{
    font-size: 135%;
    font-family: 'Domine', serif;
  }
  .about h2{
    font-family: 'Bree Serif', serif;
  }
  .silent{
    font-size: 135%;
    margin-top: 3%;
    font-family: 'Domine', serif;
  }
  .silent h2{
    font-family: 'Bree Serif', serif;
  }
  .about-footer{
    font-size: 115%;
    margin-top: 3%;
    text-align: center;
  }